name: Terraform fmt

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches:
      - "**"
    paths:
      - "**.tf"
      - "**.tfvars"
      - "**.hcl"
      - ".terraform.lock.hcl"
  pull_request:
    branches:
      - "**"
    paths:
      - "**.tf"
      - "**.tfvars"
      - "**.hcl"
      - ".terraform.lock.hcl"

jobs:
  verify:
    name: Check Terraform Formatting
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.5.0
    - name: Run Terraform fmt
      run: terraform fmt -check -recursive .
