name: Org Terraform Validate

permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
    types:
      - opened
    paths:
      - "**.tf"
      - "**.tfvars"
      - "**.hcl"
      - ".terraform.lock.hcl"
      - "**/terraform/**"

jobs:
  verify:
    name: Validate Terraform Configuration
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.5.0
    - name: Initialise with no backend
      run: terraform init -backend=false
    - name: Validate the configuration
      run: terraform validate
